/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  overflow-y: scroll;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	/*background-size: cover;*/
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAYklEQVQIWwFXAKj/Adu93P/37vwA3LffAP4M+QACDQEAMjwtABMQDQABhjyU/zxNPQDCrMgABvoAAAX3+gBahFQA9w76AAGwYbr/CRoLAO776gArLSYA1YnWADJRMgDs8uwAO1gjHGMlHx8AAAAASUVORK5CYII=");*/
	background-image: url("images/background.png");
  background-attachment: fixed;
  font-family: sans-serif;
  line-height: 1.2;
}
nav {
	background-color: #131313;
	top: 0;
	margin: 0;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
	margin-bottom: 50px;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 24px;
}
ul {
  line-height: 2;
}
li {
  list-style-type: disc;
  list-style-position: inside;
}
#center-pane {
	background-color: rgba(0, 0, 26, 0.5);
	color: #FFFFFF;
	position: absolute;
	margin-top: 0px;
}
article {
	background-color: rgba(13, 13, 13, 0.8);
	position: absolute;
	margin-top: 150px;
	display: none;
	padding: 10px;
}
.nav-button {
	float: left;
	opacity: 0.8;
	background-color: #131313;
	height: 150px;
	vertical-align: middle;
	position: relative;
	display:block;
}
@media screen and (min-width: 800px) {
	#center-pane {
	  width: 800px;
	  left: 50%;
	  margin-left: -400px;
	}
	article {
	  width: 780px;
	  margin-top: 150px;
	  padding: 10px;
	}
	.nav-button {
	  width: 398px;
	  height: 150px;
	}
}
@media screen and (max-width: 799px) {
	#center-pane {
		box-sizing: border-box;
	  width: 100%;
	  left: 0;
	}
	article {
		box-sizing: border-box;
	  width: 100%;
	  margin-top: 150px;
	  padding: 10px;
	}
	.nav-button {
		box-sizing: border-box;
	  width: 50%;
	  height: 150px;
	}
}
.highlighted {
  opacity: 1.0;
}
.button-divider {
  background-color: #000;
  width: 2px;
  height: 150px;
  float: left;
}
#aboutImg {
	border-right: 2px solid black;
}
#goalsImg {
	border-left: 2px solid black;
}
.nav-info-box {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
}
#aboutIcon {
	right: 50%;
}
.TextWrapRight {
  float: right;
  margin: 10px;
}
.TextWrapLeft {
  float: left;
  margin: 10px;
}
figure {
	display: block;
	clear: both;
}
